table,
th,
td {
  margin: auto;
  border: 1px solid;
}

th,
td {
  text-align: center;
  padding: 12px;
}

tr {
  background-color: yellow;
}

table {
  width: fit-content;
}

table {
  border-collapse: collapse;
}
